<% provide :title, "マイマップの一覧" %>
<h1><%= yield(:title) %></h1>

<% if @my_maps.present? %>
<table border="1">
  <tr>
    <th>ユーザー</th>
    <th></th>
    <th></th>
  </tr>

<% @my_maps.each do |my_map| %>
  <tr>
    <td><% if my_map.user then %><%= my_map.user.email %><% end %></td>
    <td><%= link_to '詳細', my_map %></td>
    <td><%= link_to '削除', my_map, method: :delete, data: { confirm: '削除しますか?' } %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>マイマップへは一つも場所が登録されていません。</p>
<% end %>

