<% provide :title, "ジャンルの一覧" %>
<h1><%= yield(:title) %></h1>

<% if @categories.present? %>
<p>ご覧になりたいジャンルをクリックしてください。</p>
<ul data-role="listview" data-inset="true">
  <% @categories.each do |category| %>
  <li><%= link_to category.name, category %></li>
  <% end %>
</ul>
<% else %>
<p>ジャンルは一つも登録されていません。</p>
<% end %>
<% if current_user.try(:admin?) %>
<hr />
<%= link_to 'ジャンルを新しく追加する', new_category_path, data: { role: :button, icon: :plus } %>
<% end %>
