<% provide :title, "場所の一覧" %>
<h1><%= yield(:title) %></h1>

<% if @places.present? %>
<p>ご覧になりたい場所をクリックしてください。</p>
<ul data-role="listview" data-inset="true">
<% @places.sort{|a, b| a.id <=> b.id }.each do |place| %>
<li><%= link_to "#{place.name}: #{place.category.name}", place %></li>
<% end %>
</ul>
<% else %>
<p>場所は一つも登録されていません。</p>
<% end %>

<% if current_user.try(:admin?) %>
<hr />
<%= link_to '場所を新しく追加する', new_place_path, data: { role: :button, icon: :plus } %>
<% end %>
