<div data-role="header" data-position="fixed">
  <% if controller.controller_name == "home" && controller.action_name == "index" %>
  <% else %>
    <%= link_to t("Menu"), "#menu_panel", data: { icon: "bars" } %>
  <% end %>
  <h1><%= full_title(yield(:title)) %></h1>
</div><!-- /header -->
