<div data-role="header" data-position="fixed">
  <% if user_signed_in? %>
    <%= link_to t("Menu"), "#menu_panel", data: { icon: "bars" } %>
  <% else %>
    <%= link_to t("Home"), root_path, data: { icon: "home" } %>
  <% end %>
  <h1><%= full_title(yield(:title)) %></h1>
</div><!-- /header -->
