<div data-role="panel" id="menu_panel">
  <ul data-role="listview">
    <li data-role="list-divider"><%= t("Favorites") %></li>
    <li><%= link_to t("Home"), root_path %></li>
    <li data-role="list-divider"><%= t("Self Informations") %></li>
    <li><%= link_to t("Sign out"), destroy_user_session_path, method: :delete, data: { ajax: false } %></li>
  </ul>
</div><!-- /menu_panel -->
